h1 {
    color: goldenrod !important;
}

body {
    background-color: green !important;
}

#bg {
    background-image: url("img/bg.png");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }

  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
      overflow: hidden;
    }
  }

button {
  background-color: goldenrod !important;
  color: #016f32 !important;
}

span {
  color: goldenrod !important;
}
